# ------------------------------
# PhonePe raw data (cloned repo)
# ------------------------------
pulse-data/

# ------------------------------
# Certificates
# ------------------------------
certs/
*.crt
*.pem

# ------------------------------
# Streamlit secrets
# ------------------------------
.streamlit/secrets.toml

# ------------------------------
# Virtual environments
# ------------------------------
.venv/
env/

# ------------------------------
# Environment variables
# ------------------------------
.env

# ------------------------------
# Python cache
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------------------
# Streamlit cache (optional)
# ------------------------------
.streamlit/.cache/

# ------------------------------
# OS / Editor
# ------------------------------
.DS_Store
.vscode/
.idea/
